{{!-- assets/javascripts/discourse/templates/admin-plugins-group-colors.hbs --}}
<div class="group-colors-admin">
  <h2>{{i18n "group_colors.title"}}</h2>

  <div class="groups-list">
    {{#each this.groups as |group|}}
      <div class="group-row">
        <div class="group-name">{{group.name}}</div>
        <div class="group-color">
          <ColorInput @value={{group.color}} @onChange={{fn this.updateGroupColor group}} />
        </div>
        <div class="group-rank">
          <Input @type="number" @value={{group.color_rank}} @input={{fn this.updateGroupRank group}} min="1" />
        </div>
      </div>
    {{/each}}
  </div>
</div>

