{{!-- assets/javascripts/discourse/templates/components/group-color-picker.hbs --}}
<div class="group-color-settings">
  <label>{{group.name}}</label>
  <div class="color-picker-wrapper">
    {{color-input
      value=group.color
      onChange=(action "updateColor")
    }}
    <span class="color-preview" style="background-color: {{group.color}}"></span>
  </div>
  <div class="rank-input-wrapper">
    <label>{{i18n "group_colors.rank_label"}}</label>
    {{input
      type="number"
      value=group.color_rank
      min="1"
      input=(action "updateRank")
      placeholder=(i18n "group_colors.rank_placeholder")
    }}
  </div>
</div>