<div class="group-colors-list">
  <div class="setting-label">
    <h3>{{i18n "group_colors.title"}}</h3>
    <p class="setting-desc">{{i18n "group_colors.description"}}</p>
  </div>

  {{#if this.groups}}
    <div class="groups-container">
      {{#sortable-group onChange=this.updateOrder class="sortable-groups"}}
        {{#each this.groups as |group|}}
          {{#sortable-item class="sortable-group" model=group.id}}
            <div class="group-item">
              <div class="group-drag-handle">
                {{d-icon "bars"}}
              </div>
              <div class="group-name">
                {{group.name}}
              </div>
              <div class="group-color">
                <ColorInput 
                  @value={{group.custom_fields.color}} 
                  @onChange={{fn this.updateColor group}} 
                />
              </div>
              <div class="group-preview" style={{html-safe (concat "color: " group.custom_fields.color)}}>
                {{group.name}}
              </div>
            </div>
          {{/sortable-item}}
        {{/each}}
      {{/sortable-group}}
    </div>
  {{else}}
    <p>{{i18n "group_colors.no_groups"}}</p>
  {{/if}}
</div>